@tailwind base;
@tailwind components;
@tailwind utilities;
.featured {
  background-image: url(../public/image 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.313);
}
@media screen and (min-width: 640px) {
  .featured {
    background-image: url(../public/image 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
